body {
    margin: 0;  
    -webkit-font-smoothing: antialiased;  
    -moz-osx-font-smoothing: grayscale;
}

.im-fell-font{
    font-family: 'IM Fell English', serif;
}

.spectral-font{
    font-family: 'Spectral', serif;
}
      
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}